<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
thymeleaf practice file


<span th:text="테스트"></span>
<th:block th:include="test.html">zz</th:block>

<div th:text="${list}"></div>



----------------- th 실험 ------------
<!--<table>-->
<!--    <thead>-->
<!--        <tr>-->
<!--            <th>제목</th>-->
<!--            <th>content</th>-->
<!--        </tr>-->
<!--        <tr th:each="board: ${list}">-->
<!--            \n-->
<!--            <td th:text="${board.CNT}"></td>-->
<!--            <td th:text="${board.TITLE}"></td>-->
<!--        </tr>-->
<!--    </thead>-->
<!--</table>-->


<!--SDFSADSDFASDAFSASD -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->

<!--<tr th:each="Connect, loop : ${list}">-->
<!--          <div>-->

<!--            <span th:text="${Connect.TITLE}"></span>-->
<!--          </div>-->
<!--</tr>-->

<!--<form method="post" action="/test3">-->
<!--    <table th:border="1">-->
<!--        <tr>-->
<!--            <td>SEQ</td>-->
<!--            <td><input type="text" name="SEQ"></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>CNT</td>-->
<!--            <td><input type="text" name="CNT"></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>TITLE</td>-->
<!--            <td><input type="text" name="TITLE"></td>-->
<!--        </tr>-->
<!--    </table>-->

<!--    <button type="submit">추가</button>-->
<!--</form>-->
gggggggggDSFSFS



</body>
</html>