@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Semi-Bold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SUITE-he';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'SUIT-Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

textarea{

}

h1 {
    font-family: 'LINESeedKR-Bd';
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;

}

.navbar-brand {
    font-family: 'LINESeedKR-Bd';
}


* {
    font-family: 'SUIT-Light';
}


body {

    margin: 0 auto;
}

 .btn3 {
 border: 3px;
 }

 table {
 }

 th, td{
 text-align: center;
 vertical-align : middle;
 height: 65px;

 }



 td {
 font-size: 17px;
 }

 tr {
    height: 65px;
 }



 a {
 text-decoration-line: none;
 }

 .pagination {
    justify-content: center;

 }

 li {
   list-style: none;

 }

 ul {
    margin-right: 50px;

 }

 .form-select {
    margin-bottom: 7px;
 }

 .find-btn{
 	text-align: center;
 }
 .find-btn1{
 	display :inline-block;
 }

 .child {
    font-family: 'LINESeedKR-Bd';
    font-size: 35px;
    font-weight: bold;
    text-align : center;
    margin-top: 50px;
 }

 .dropdown{
   position : relative;
   display : inline-block;
 }

 .dropbtn{
   border : none;
   background-color: #f5f5f5;
   font-weight: 200;
   color : rgb(37, 37, 37);
   padding : 12px;
   width :100px;
   text-align: center;
   cursor : pointer;
   font-size : 12px;
 }
 .dropdown-content{
   display : none;
   position : absolute;
   z-index : 1; /*다른 요소들보다 앞에 배치*/
   font-weight: 400;
   background-color: #f9f9f9;
   min-width : 200px;
 }

 .dropdown-content a{
   display : block;
   text-decoration : none;
   color : rgb(37, 37, 37);
   font-size: 12px;
   padding : 12px 20px;
 }

 .dropdown-content a:hover{
   background-color : #ececec
 }

 .dropdown:hover .dropdown-content {
   display: block;
 }

