<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:XTORM_MAIN="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="/bootstrap.min.css" th:href="@{/bootstrap.min.css}" rel="stylesheet">
  <link href="/style.css" th:href="@{/style.css}" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
</head>
<body>

<div id="test">

  <form id="uploadForm" name="uploadForm" method="post" enctype="multipart/form-data">
    <table class="edit-table">
      <tr>
        <th>파일</th>
        <td>
          <input id="image-file" type="file" name="image-file">
        </td>
      </tr>
      <tr>
        <th>IMG_KEY</th>
        <td>
          <input type="text" id="IMG_KEY" name="IMG_KEY"/>
        </td>
      </tr>
      <tr>
        <th>REGIST_USER_ID</th>
        <td>
          <input type="text" id="REGIST_USER_ID" name="REGIST_USER_ID" />
        </td>
      </tr>
      <tr>
        <th>UPDATE_USER_ID</th>
        <td>
          <input type="text" id="UPDATE_USER_ID" name="UPDATE_USER_ID" />
        </td>
      </tr>
      <tr>
        <th>UPDATE_USER_ID</th>
        <td>
          <button class="btn btn-outline-secondary" type="button" onclick="dataSend()">submit</button>
        </td>
      </tr>
    </table>
  </form>

  <script src="http://ajax.googlepis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  function dataSend(){
		var data = {
      IMG_KEY: $('#IMG_KEY').val(),
			REGIST_USER_ID: $('#REGIST_USER_ID').val(),
			UPDATE_USER_ID: $('#UPDATE_USER_ID').val()
		};
		var form = $('form')[0];
		var formData = new FormData(form);
		formData.append('image-file', $('#image-file'));
		formData.append('key', new Blob([JSON.stringify(data)] , {type: "application/json"}));

        $.ajax({
                type: "POST",
                url: '/api/posts',
                processData: false,
                contentType: false,
                data: formData,
            }).done(function() {
                alert('글이 등록되었습니다.');
                window.location.href = '/toy';
            }).fail(function (error) {
                alert(JSON.stringify(error));
            });
        }
</script>
</div>
</body>