<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:XTORM_MAIN="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<title>Title</title>
<link href="/bootstrap.min.css" th:href="@{/bootstrap.min.css}" rel="stylesheet">
<link href="/style.css" th:href="@{/style.css}" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
</head>

<body>

  <div class="container-lg">

  <div class="card" style="margin-top: 100px; margin-bottom: 50px; height: 0 auto;">
    <div class="card-body">

      <h1>이미지 등록</h1>

      <form method="post" th:action="@{/toy/create}" enctype="multipart/form-data">

        <div class="container" style="width: 700px">

      <div class="mb-3" style="margin-bottom: 10px">
      <label for="custnm_box" class="form-label">고객명</label>
      <input type="text" class="form-control"  name="CUST_NM" id="custnm_box" style="height: 60px;">
      </div>

<div class="mb-3" style="margin-bottom: 10px">
<label for="rrn_box" class="form-label">주민번호</label>
<input type="text" class="form-control"  name="RRN_NO" id="rrn_box" style="height: 60px; margin-bottom: 30px;">
</div>

<ul class="__add">
  <li>
    <select class="form-select" name="sido1" style="margin-bottom: 10px;"></select>
    <select class="form-select" name="DETAIL_CATEGORY" ></select>
    <input type="file"  name="image-file" class="files" multiple="multiple" style="width: 231px; height: 46px; margin-bottom: 20px;" >
    <button type="button"class="_add">추가</button>
  </li>
</ul>

<script src="http://ajax.googlepis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
var maxAppend = 1;

$('.__add ._add').on('click',function(){
if(maxAppend >= 3){
alert("파일 업로드 최대 개수는 3개 입니다.");
return;
}else{
$('.__add').append('<li><select class="form-select" name="sido1" style="margin-bottom:10px;"></select><select class="form-select" name="DETAIL_CATEGORY"></select><input type="file" name="image-file" class="files" multiple="multiple" style="width: 231px; height: 46px; margin-bottom: 20px;"> <button type="button" class="_add" onclick="addDel(this);">삭제</button></li>');
maxAppend ++;
}

});

function addDel(a){
$(a).closest('li').remove();
maxAppend --;
}

$('.__add ._add').on('click',function(){
var area0 = ["문서 분류","공통", "수신", "여신"];
var area1 = ["전표","인감증명서","주민등록초본","호적등초본","비거주자 판정표","사업자등록증","단체확인서"];
var area2 = ["거래신청서", "예금잔액증명 의뢰서", "위임장", "정기예금 원 이자 자동이체 신청서", "제신고 및 재발급 신청서", "전자금융서비스 이용신청서", "상속예금(지급 명의 변경) 의뢰 및 이자소득 귀속동의서", "CMS출금이체 신청서", "비거주자 판정표", "세금우대 적용배재 신청서"];
var area3 = ["대출금 부속서류 명세표","심의서","심의자료外","감정평가서","대출금승인신청서", "여신(기한연장,조건변경)신청서", "여신거래약정서", "신용부금 납입계약서", "추가약정서(한도거래조건변경용)", "추가약정서(중도상환수수료 약정용)", "추가약정서(APT담보대출 중도상환수수료 약정용)"];

$("select[name^=sido]").each(function() {
$selsido = $(this);
$.each(eval(area0), function() {
$selsido.append("<option value='"+this+"'>"+this+"</option>");
});
$selsido.next().append("<option value=''>서식명</option>");
});

$("select[name^=sido]").change(function() {
var area = "area"+$("option",$(this)).index($("option:selected",$(this)));
var $gugun = $(this).next();
$("option",$gugun).remove();

if(area == "area0")
$gugun.append("<option value=''>서식명</option>");
else {
$.each(eval(area), function() {
$gugun.append("<option value='"+this+"'>"+this+"</option>");
});
}
});
});

</script>

<script>

$('document').ready(function() {
var area0 = ["문서 분류","공통", "수신", "여신"];
var area1 = ["전표","인감증명서","주민등록초본","호적등초본","비거주자 판정표","사업자등록증","단체확인서"];
var area2 = ["거래신청서", "예금잔액증명 의뢰서", "위임장", "정기예금 원 이자 자동이체 신청서", "제신고 및 재발급 신청서", "전자금융서비스 이용신청서", "상속예금(지급 명의 변경) 의뢰 및 이자소득 귀속동의서", "CMS출금이체 신청서", "비거주자 판정표", "세금우대 적용배재 신청서"];
var area3 = ["대출금 부속서류 명세표","심의서","심의자료外","감정평가서","대출금승인신청서", "여신(기한연장,조건변경)신청서", "여신거래약정서", "신용부금 납입계약서", "추가약정서(한도거래조건변경용)", "추가약정서(중도상환수수료 약정용)", "추가약정서(APT담보대출 중도상환수수료 약정용)"];

$("select[name^=sido]").each(function() {
$selsido = $(this);
$.each(eval(area0), function() {
$selsido.append("<option value='"+this+"'>"+this+"</option>");
});
$selsido.next().append("<option value=''>서식명</option>");
});

$("select[name^=sido]").change(function() {
var area = "area"+$("option",$(this)).index($("option:selected",$(this)));
var $gugun = $(this).next();
$("option",$gugun).remove();

if(area == "area0")
$gugun.append("<option value=''>서식명</option>");
else {
$.each(eval(area), function() {
$gugun.append("<option value='"+this+"'>"+this+"</option>");
});
}
});
});
</script>

<div class="d-grid gap-2 d-md-flex justify-content-md-end" style="margin-bottom: 80px; margin-top: 40px;">
<a th:href="@{/toy/create}"><button class="btn btn-primary" type="submit" onclick='btnActive()'>등록</button></a>
<a th:href="@{/toy}"><button class="btn btn-primary" type="button">돌아가기</button></a>

</div>



</div>

      </form>
</div>

</div>



</div>
</div>
</body>
</html>