<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:XTORM_MAIN="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/bootstrap.min.css" th:href="@{/bootstrap.min.css}" rel="stylesheet">
    <link href="/style.css" th:href="@{/style.css}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
</head>
<!--<body>-->


<!--&lt;!&ndash;<nav class="navbar navbar-light bg-light">&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="container">&ndash;&gt;-->
<!--&lt;!&ndash;        <a class="navbar-brand" th:href="@{/toy}">&ndash;&gt;-->
<!--&lt;!&ndash;            <img src="img/logo.png" alt="" width="80" height="80">&ndash;&gt;-->
<!--&lt;!&ndash;            Toy Project&ndash;&gt;-->
<!--&lt;!&ndash;        </a>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;</nav>&ndash;&gt;-->

<!--&lt;!&ndash;<div class="container-lg">&ndash;&gt;-->
<!--&lt;!&ndash;    &lt;!&ndash;    <div style="width: 1000px; margin: 0 auto;">&ndash;&gt;&ndash;&gt;-->


<!--&lt;!&ndash;    <form th:action="@{/toy/delete}" method="GET">&ndash;&gt;-->

<!--&lt;!&ndash;        <table class="table table-hover" style="margin-top: 50px; table-layout: fixed;">&ndash;&gt;-->
<!--&lt;!&ndash;            <thead style="border-color: gray">&ndash;&gt;-->
<!--&lt;!&ndash;            <tr>&ndash;&gt;-->
<!--&lt;!&ndash;                <th width="9%">삭제</th>&ndash;&gt;-->
<!--&lt;!&ndash;                <th width="18%">이미지키</th>&ndash;&gt;-->
<!--&lt;!&ndash;                <th width="12%">주민번호</th>&ndash;&gt;-->
<!--&lt;!&ndash;                <th width="7%">사원명</th>&ndash;&gt;-->
<!--&lt;!&ndash;                <th width="32%">고객명</th>&ndash;&gt;-->


<!--&lt;!&ndash;            </tr>&ndash;&gt;-->
<!--&lt;!&ndash;            </thead>&ndash;&gt;-->
<!--&lt;!&ndash;            <tbody>&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash;&ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;            <tr th:each="Business, index : ${posts}">&ndash;&gt;-->

<!--&lt;!&ndash;                <td>&ndash;&gt;-->
<!--&lt;!&ndash;                    <input class="form-check-input mt-0" type="checkbox" name="IMG_KEY" th:value="${Business.IMG_KEY}" aria-label="Checkbox for following text input"></a>&ndash;&gt;-->
<!--&lt;!&ndash;                </td>&ndash;&gt;-->
<!--&lt;!&ndash;                <td th:text="${Business.IMG_KEY}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;                <td th:text="${Business.RRN_NO}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;                <td th:text="${Business.REGIST_USER_ID}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;                <td th:text="${Business.CUST_NM}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;            </tr>&ndash;&gt;-->

<!--&lt;!&ndash;            </tbody>&ndash;&gt;-->
<!--&lt;!&ndash;        </table>&ndash;&gt;-->


<!--&lt;!&ndash;        &lt;!&ndash;            <tr th:each="Business, index : ${posts}">&ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;        &lt;!&ndash;                <td>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        &lt;!&ndash;                    <input class="form-check-input mt-0" type="checkbox" name="IMG_KEY" th:value="${Business.IMG_KEY}" aria-label="Checkbox for following text input"></a>&ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;        &lt;!&ndash;                </td>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        &lt;!&ndash;                <td>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        &lt;!&ndash;                    <a th:href="@{|/toy/detail/${Business.IMG_KEY}|}" th:text="${Business.IMG_KEY}"></a>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        &lt;!&ndash;                </td>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        &lt;!&ndash;                <td th:text="${Business.IMG_KEY}"></td>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        &lt;!&ndash;                <td th:text="${Business.RRN_NO}"></td>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        &lt;!&ndash;                <td th:text="${Business.CUST_NM}"></td>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        &lt;!&ndash;                <td th:text="${Business.UPDATE_USER_ID}"></td>&ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;        &lt;!&ndash;            </tr>&ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;        &lt;!&ndash;            </tbody>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        &lt;!&ndash;        </table>&ndash;&gt;&ndash;&gt;-->


<!--&lt;!&ndash;        <div class="d-grid gap-2 d-md-flex justify-content-md-end" style="margin-bottom: 70px; margin-top: 30px;">&ndash;&gt;-->
<!--&lt;!&ndash;            <a th:href="@{/toy/create}"><button class="btn btn-primary" type="button">등록</button></a>&ndash;&gt;-->

<!--&lt;!&ndash;            <button class="btn btn-primary" type="submit">삭제</button></a>&ndash;&gt;-->

<!--&lt;!&ndash;        </div>&ndash;&gt;-->

<!--&lt;!&ndash;    </form>&ndash;&gt;-->

<!--&lt;!&ndash;</div>&ndash;&gt;-->


<!--&lt;!&ndash;<div th:text="${page}"></div>&ndash;&gt;-->
<!--&lt;!&ndash;</body>&ndash;&gt;-->
<!--&lt;!&ndash;</html>&ndash;&gt;-->


<!--<body>-->
<!--<select class="form-select" name="sido1" aria-label="Default select example" id="sido1"></select>-->
<!--<select class="form-select" name="gugun1" aria-label="Default select example" id="gugun1"></select>-->

<!--<script src="http://ajax.googlepis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>-->
<!--<script>-->
<!--$('document').ready(function() {-->
<!--var area0 = ["문서 분류","공통", "수신", "여신"];-->
<!--var area1 = ["전표","인감증명서","주민등록초본","호적등초본","비거주자 판정표","사업자등록증","단체확인서"];-->
<!--var area2 = ["거래신청서", "예금잔액증명 의뢰서", "위임장", "정기예금 원 이자 자동이체 신청서", "제신고 및 재발급 신청서", "전자금융서비스 이용신청서", "상속예금(지급 명의 변경)의뢰 및 이자소득 귀속동의서", "CMS출금이체 신청서", "비거주자 판정표", "세금우대 적용배재 신청서"];-->
<!--var area3 = ["대출금 부속서류 명세표","심의서","심의자료外","감정평가서","대출금승인신청서", "여신(기한연장,조건변경)신청서", "여신거래약정서", "신용부금 납입계약서", "추가약정서(한도거래조건변경용)", "추가약정서(중도상환수수료 약정용)", "추가약정서(APT담보대출 중도상환수수료 약정용)"];-->




<!--// 시/도 선택 박스 초기화-->

<!--$("select[name^=sido]").each(function() {-->
<!--$selsido = $(this);-->
<!--$.each(eval(area0), function() {-->
<!--$selsido.append("<option value='"+this+"'>"+this+"</option>");-->
<!--});-->
<!--$selsido.next().append("<option value=''>구/군 선택</option>");-->
<!--});-->



<!--// 시/도 선택시 구/군 설정-->

<!--$("select[name^=sido]").change(function() {-->
<!--var area = "area"+$("option",$(this)).index($("option:selected",$(this))); // 선택지역의 구군 Array-->
<!--var $gugun = $(this).next(); // 선택영역 군구 객체-->
<!--$("option",$gugun).remove(); // 구군 초기화-->

<!--if(area == "area0")-->
<!--$gugun.append("<option value=''>서식명</option>");-->
<!--else {-->
<!--$.each(eval(area), function() {-->
<!--$gugun.append("<option value='"+this+"'>"+this+"</option>");-->
<!--});-->
<!--}-->
<!--});-->


<!--});-->
<!--</script>-->

<select name="num" onchange="sel()">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
</select>

<select name="country" onchange="sel()">
    <option value="korea">korea</option>
    <option value="japan">japan</option>
    <option value="china">china</option>
</select>

<select name="fruit" onchange="sel()">
    <option value="apple">apple</option>
    <option value="banana">banana</option>
    <option value="strawberry">strawberry</option>
</select>

<script>
function sel(){
	var sel = document.getElementById("num").value;
	var sel2 = document.getElementById("country").value;
	var sel3 = document.getElementById("fruit").value;
	$.ajax({
		type:'POST',
		url : '/test',
		data : {sel:sel,sel2:sel2,sel3:sel3},

		success : function(data){
			location.href='test';
		},
		error : function (request,status,error){
			console.log('code:' + request.status + "\n" + 'message : ' + request.responseText + "\n" + 'error:' + error);
		}
	});
}
</script>

</html>